name: C++ CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake clang clang-tidy g++ git wget ninja-build libgtest-dev
          # Сборка GTest
          cd /usr/src/gtest
          sudo cmake .
          sudo make
          sudo cp lib/libgtest*.a /usr/lib/

      - name: Show Compiler Versions
        run: |
          gcc --version
          clang --version
          cmake --version

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug

      - name: Build Tests
        run: cmake --build build

      - name: Run Tests
        run: env GTEST_COLOR=1 cmake --build build --target execute-tests

    windows-msvc:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System' -y
          choco install visualstudio2022community --package-parameters "--add Microsoft.VisualStudio.Workload.VCTools" -y
      - name: Configure and build
        shell: powershell
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64
          cmake --build . --config Release
      - name: Run tests
        shell: powershell
        run: |
          cd build
          ctest -C Release -V

  windows-mingw:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: choco install mingw -y
      - name: Configure and build
        shell: powershell
        run: |
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles"
          cmake --build .
      - name: Run tests
        shell: powershell
        run: |
          cd build
          ctest -V